.signup-form {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 10px;
    width: 450px;
}

.signup-name-block {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.name-items {
    width: 170px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccd0d5;
    font-size: 15px;
    border-radius: 5px;
}

.user-items {
    width: 375px;
    padding: 7px;
    margin: 7px;
    border: 1px solid #ccd0d5;
    font-size: 15px;
    border-radius: 5px;
}

.birthday {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 7px;
}

.birthday select {
    font-size: 15px;
    border: 1px solid #ccd0d5;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 375px;
}

.gender-div {
    display: flex;
    justify-content: space-between;
    width: 385px;
}

.gender-div label {
    font-size: 15px;
    border: 1px solid #ccd0d5;
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    width: 110px;
    font-family: sans-serif;
    vertical-align: middle;
}

#signup-form-button {
    height: 36px;
    padding: 10px;
    margin: 25px;
    color: white;
    background-color: rgb(32, 178, 32);
    border: none;
    border-radius: 5px;
    width: 180px;
    font-size: 18px;
    font-weight:bold;
}

.gender-div {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.gender-div input {
    border: 1px solid #ccd0d5;
}

.titles {
    display: flex;
    justify-content: flex-start;
    width: 385px;
    margin: 0px;
}

.titles p {
    font-size: 15px;
    margin-top: 10px;
    color: #5e6063;
}

#disclaimer {
    font-size: 10px;
    margin: 7px;
    padding: 7px;
    font-family: sans-serif;
}

.signup-error {
    color: red;
    margin-top: 10px;
    border: 1px solid red;
    padding: 7px;
}
