.post-content {
    margin: 5px;
    line-height: 2;
}

.post-box {
    padding: 25px;
    background-color: white;
    margin-top: 17px;
    margin-left: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.post-box > p {
    margin-top: 13px;
}
.profile-pic-name {
    display: flex;
}

.profile-pic-name p {
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

.profile-pic-name i {
    font-size: 13px;
    padding: 5px;
}

.profile-pic-name > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.edit-post-button-div {
    display: flex;
    justify-content: center;
}


.head-post-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.edit-form-dropdown {
    cursor: pointer;
    position: relative;
}

.delete-post-div {
    background-color: white;
    /* margin: 10px; */
    padding: 10px;
}

.delete-post-div:hover {
    background-color: lightgray;
}

.edit-post-div {
    background-color: white;
    /* margin: 10px; */
    padding: 10px;
}

.edit-post-div:hover {
    background-color: lightgray;
}

.edit-post-dropdown-items {
    background-color: white;
    position: absolute;
    top: 20px;
    width: 125px;
    right: -10px;
}