.friend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friend-request-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}

.friend-container h1 {
    font-size: 20px;
    font-weight: bold;
}

#no-friend-request {
    margin: 20px;
}

.friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 70%;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
}
