.full-profile-page-contaier {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* .background-image {
    width: 100%;
    height: 20px;
    margin-top: 5px;
    background-color: white;
    text-align: center;
} */
.user-header {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.user-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.user-photo-div {
    width: 120px;
    height: 120px;
    font-size: 60px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.user-name-div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.user-friend-request-button{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#friend-request-button {
    margin-right: 50px;
}

#first-last-name {
    margin-left: 20px;
    font-size: 30px;
}

#friend-request-button {
    margin-left: 20px;
    font-size: 30px;
}

.user-down-page {
    background-color: lightgray;
    margin: auto;
    margin-top: 20px;
    height: 375px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.about-me {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

.about-me h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
}

#about-me-intro {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 0px;
}

.add-details {
    background-color: lightgray;
    border-radius: 5px;
    margin: 15px;
    width: 350px;
    height: 30px;
    cursor: pointer;
}

.user-post-side {
    background-color: white;
    height: 100px;
    border-radius: 10px;
    margin-left: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}


#user-post-photo {
    padding: 10px;
    margin-left: 20px;
}
.user-post-div {
    background-color: lightgray;
    border-radius: 30px;
    width: 500px;
    margin: 10px;
}
#user-post {
    font-size: 20px;
    padding: 15px;
    font-family: sans-serif;
    color: gray;
    margin-left: 10px;
}

.main-lower-part {
    display: flex;
    margin: auto;
    background-color: lightgray;
    justify-content: center;
}

.post-side-div {
    margin: 10px;
}