.post-form-div img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    object-fit: cover;
}


.post-form-div {
    display: flex;
    margin: auto;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 17px;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    padding: 25px;
}

.post-form > form > input {
    outline-width: 0;
    border: none;
    padding: 5px;
    margin-left: 10px;
    border-radius: 99px;
    background-color: rgb(241, 238, 238);
    font-size: 18px;
    font-family: sans-serif;
    
}

.post-form > form > button {
    background-color: #3b69de; /* Green */
    border: none;
    color: white;
    padding: 10px;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 7px;
    font-weight: bold;
    display: none;
}

#postContent {
    width: 30vw;
}

.post-modal-div {
    width: 500px;
    height: 400px;
}

.post-modal-div > h1 {
    font-size: 40px;
    padding: 15px;
}

.user-pic-name {
    display: flex;
    align-items: flex-start;
}

.user-pic-name > h2 {
    padding-top: 10px;
    font-weight: bold;
}

.user-pic-name img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
}

.user-pic-name-modal {
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
}

.user-pic-name-modal > h2 {
    padding-top: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.user-pic-name-modal img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
}

.textarea-div {
    padding-left: 5px;
}

.textarea-div > textarea {
    width: 400px;
    height: 150px;
    resize: none;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    outline: none;
}

.post-button-div {
    margin: auto;
    display: flex;
}

.post-button-div > button {
    background-color: #3b69de; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 7px;
    font-weight: bold;
    width: 90%;
    margin: auto;
}