.post-form-div img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
}


.post-form-div {
    display: flex;
    margin: auto;
    margin-left: 10px;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    padding: 25px;
}

/* .post-form {
    background-color: rgb(241, 238, 238);
    border-radius: 99px;
    margin-left: 10px;
} */

.post-form > form > input {
    outline-width: 0;
    border: none;
    padding: 5px;
    margin-left: 10px;
    border-radius: 99px;
    background-color: rgb(241, 238, 238);
    font-size: 18px;
    font-family: sans-serif;
    
}

.post-form > form > button {
    background-color: #3b69de; /* Green */
    border: none;
    color: white;
    padding: 10px;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 7px;
}