.user-show {
    padding: 0px 10%;

}

.cover-image {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
}

.user-show-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding-right: 7%;
}


.user-left-head {
    display: flex;
    align-items: flex-end;
}

.user-profile-photo img{
    border-radius: 50%;
    object-fit: cover;
}

.upload-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: lightgray;
    position: relative;
    bottom: 30px;
    left: 130px;
    cursor: pointer;
}

.user-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#username {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.edit-profile {
    margin-right: 0px;
}

.user-show-down {
    display: flex; 
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.user-bio {
    flex-basis: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

#user-bio-textarea {
    width: 390px;
    height: 70px;
}

.user-post-section {
    flex-basis: 58%;
}

.user-page-post-form {
    margin-left: 0;
}
.user-bio > h1 {
    font-size: 2vw;
    margin: 15px;
    margin-bottom: 25px;
    font-weight: bold;
}

.user-bio > h2 {
    font-size: 20px;
    margin: 15px;
    font-weight: bold;
}

.user-bio > p {
    margin: 15px;
}

.user-post-div {
    margin-left: 10px;
}

.edit-form-modal-button {
    padding: 10px;
    margin: 5px;
    background-color: #E4E6EB; /* Green */
    border: none;
    color: black;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

.edit-form-modal-button:hover {
    background-color: #b7b8ba;
}

.upload-photo-modal {
    width: 700px;
    height: 130px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-profile-dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
}

.update-profile-dialog > h1 {
    font-weight: bold;
    font-size: 22px;
    margin: 5px;
}

#upload-select-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 15px;
    background-color: #a7c3f6;
    color: #3578E5;
    margin: 10px;
    padding: 5px 10px;
    width: 275px;
    height: 35px;
    cursor: pointer;
}

.upload-photo-modal input {
    display: none;
}

.upload > form {
    display: flex;
    align-items: center;
}

#upload-photo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 15px;
    background-color: #a7c3f6;
    color: #3578E5;
    margin: 10px;
    padding: 5px 10px;
    width: 275px;
    height: 45px;
    border: none;
    cursor: pointer;
}

.upload {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friending > button {
    padding: 10px;
    margin: 5px;
    background-color: #E4E6EB; /* Green */
    border: none;
    color: black;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}