.sign-form {
    background-color: white;
    padding: 10px ;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

#login-to-message {
    font-size: 50px;
}

#email {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 7px;
    border: 1px solid #dddfe2;
    width: 380px;
    font-size: 17px;
}

#password {
    box-shadow: 0 0 15px 4px rgba(0,0,0, 0.05);
    border-radius: 7px;
    border: 1px solid #dddfe2;
    width: 380px;
    font-size: 17px;
}

#login-button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px ;
    border: none;
    background-color: #3b69de;
    color:#fff;
    border-radius:7px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

.forget-password-div {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    font-size: 20px;
}

a {
    color: #3b69de;
}

a:link {
    text-decoration: none;
    font-size: 17px;
    color: #3b69de;
    font-family: sans-serif;
}


#demo-user-button {
    padding: 10px;
    border: none;
    background-color:#050c1d;
    color:#fff;
    border-radius:7px;
    width: 100%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;

}

.signup-modal-div {
    margin-top: 10px;
}