.login-page-full {
    background-color: white;
    padding: 10px ;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.signin-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.credentials {
    display: flex;
    flex-flow: column wrap;
}

.credentials input {
    width: 360px;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    font-size: 17px;
    font-family: sans-serif;
    border: 1px solid #ccd0d5;
}

.error-div {
    width: 360px;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    font-size: 17px;
    font-family: sans-serif;
    border:1px solid red;
    color: red;
}

.error-messages {
    color: red;
    font-family: sans-serif;
    list-style: none;
    font-size: 0.8rem;
}

#login-to-message {
    font-size: 50px;
}

.textInput {
    border: 1px solid #dddfe2;
}


#login-button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px ;
    border: none;
    background-color: #3b69de;
    color:#fff;
    border-radius:7px;
    width: 382px;
    font-size: 20px;
    cursor: pointer;
}

.forget-password-div {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    font-size: 20px;
}

a {
    color: #3b69de;
}

a:link {
    text-decoration: none;
    font-size: 17px;
    color: #3b69de;
    font-family: sans-serif;
}

#demo-user-button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#080e1dd7;
    color:#fff;
    border-radius:7px;
    border: none;
    width: 382px;
    font-size: 20px;
    cursor: pointer;
}

.signup-modal-div {
    margin: 10px 10px 0px 10px;
}