.login-page-form {
    display: flex;
    justify-content: center;
}

.sign-form {
    background-color: #f2e8e8;
    padding: 7px ;
    border-radius: 15px;
    width: 300px;
}

#login-to-message {
    font-size: 30px;
}

#email {
    padding:10px;
    margin:10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 7px;
    border: 0;
    width: 94%;
}

#password {
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0, 0.05);
    border-radius: 7px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
}

#login-button {
    padding: 10px;
    border: none;
    background-color:#4a62ec;
    color:#fff;
    border-radius:7px;
    width: 100%;
    box-sizing: border-box;
}

#demo-user-button {
    width: 100%;
    padding: 7px;
    background-color:#050c1d;
    color:#fff;
    border-radius:5px;
    border: none;
}

#create-new-user {
    width: 100%;
    padding: 5px;
    background-color:#078623;
    color:#fff;
    border-radius:5px;
    border: none;
}

/* #email {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-radius: 7px;
    box-shadow: 0 0 15px 4px rgba(0,0,0, 0.05);
    font-size: 15px;
    
}

#password {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0, 0.05);
    font-size: 15px;

} */
